{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

<div class="container my-5">
    <h2 class="text-success mb-4">Edit Your Profile</h2>

    <form method="POST" enctype="multipart/form-data" class="card p-4 shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save Changes</button>
        <a href="{% url 'profile_page' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}
